<!DOCTYPE html>
<html>
    <head>
        <title> POST REGISTER PAGE </title>
        <Link rel= stylesheet ' href='/stylesheets/style.ccs' />
  </head>      
<body>
    <h1><%= title %></h1>
       <h2> <%=username%> </h2>
        <h2> Email: <%= email %> </h2>
        <h3> key: <%= key %> </h3>
        <h3. salt: <%= salt %> </h3>

        <!-- Link for page 2 -->
        <a href="index"> Return to home page </a> <br>
        <a href="http://www.bdpa.org"> Link to BDPA homepage </a> <br>
      </body>
    </html> 
